.home-title {
  color: #ffffff;
}
.home-des {
  color: #ffffff;
  font-size: 16px;
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .home-title {
    font-size: 84px;
    width: 70%;
  }
  .home-des {
    font-size: 32px;
    width: 60%;
  }
}
.home-main-container {
  display: flex;
  flex-direction: column;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  padding: 16px;
}
@media screen and (min-width: 768px) {
  .home-main-container {
    padding: 64px;
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  }
}
.home-find-job-btn {
  padding: 10px 24px;
  color: #ffffff;
  background-color: #4f46e5;
  border-radius: 4px;
  border-width: 0px;
  align-self: flex-start;
  font-weight: 700;
  margin-top: 16px;
  outline: none;
  cursor: pointer;
}
